.panel-all{
	margin-top:5%;
	background-color: #FFFFFF;
	font-size: 23px;
	    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.info-all{
	margin-top:5%;
	margin-bottom: 10%;
	
	color: #333333;
	text-align: center;
	font-weight: normal;
}
.panel-chart{
	margin-top: 5%;
}